<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (shipperPerson) {
      <div>
        <h2 data-cy="shipperPersonDetailsHeading">
          <span jhiTranslate="containerGoServerApp.shipperPerson.detail.title">Shipper Person</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.id">Id</span></dt>
          <dd>
            <span>{{ shipperPerson.id }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.name">Name</span></dt>
          <dd>
            <span>{{ shipperPerson.name }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.phone">Phone</span></dt>
          <dd>
            <span>{{ shipperPerson.phone }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.email">Email</span></dt>
          <dd>
            <span>{{ shipperPerson.email }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.address">Address</span></dt>
          <dd>
            <span>{{ shipperPerson.address }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipperPerson.shipper">Shipper</span></dt>
          <dd>
            @if (shipperPerson.shipper) {
              <div>
                <a [routerLink]="['/shipper', shipperPerson.shipper.id, 'view']">{{ shipperPerson.shipper.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/shipper-person', shipperPerson.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
