<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (provice()) {
      <div>
        <h2 data-cy="proviceDetailsHeading"><span jhiTranslate="containerGoServerApp.provice.detail.title">Provice</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="containerGoServerApp.provice.id">Id</span></dt>
          <dd>
            <span>{{ provice()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.provice.code">Code</span></dt>
          <dd>
            <span>{{ provice()!.code }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.provice.name">Name</span></dt>
          <dd>
            <span>{{ provice()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.provice.description">Description</span></dt>
          <dd>
            <span>{{ provice()!.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/provice', provice()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
