<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (containerOwner) {
      <div>
        <h2 data-cy="containerOwnerDetailsHeading">
          <span jhiTranslate="containerGoServerApp.containerOwner.detail.title">Container Owner</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="containerGoServerApp.containerOwner.id">Id</span></dt>
          <dd>
            <span>{{ containerOwner.id }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerOwner.name">Name</span></dt>
          <dd>
            <span>{{ containerOwner.name }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerOwner.phone">Phone</span></dt>
          <dd>
            <span>{{ containerOwner.phone }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerOwner.email">Email</span></dt>
          <dd>
            <span>{{ containerOwner.email }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerOwner.address">Address</span></dt>
          <dd>
            <span>{{ containerOwner.address }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/container-owner', containerOwner.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
