<div>
  <h2 id="page-heading" data-cy="CenterPersonGroupHeading">
    <span jhiTranslate="containerGoServerApp.centerPersonGroup.home.title">Center Person Groups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="containerGoServerApp.centerPersonGroup.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-center-person-group"
        [routerLink]="['/center-person-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="containerGoServerApp.centerPersonGroup.home.createLabel">Thêm mới một Center Person Group</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (centerPersonGroups?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="containerGoServerApp.centerPersonGroup.home.notFound">No Center Person Groups found</span>
    </div>
  }

  @if (centerPersonGroups && centerPersonGroups.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.centerPersonGroup.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.centerPersonGroup.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (centerPersonGroup of centerPersonGroups; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/center-person-group', centerPersonGroup.id, 'view']">{{ centerPersonGroup.id }}</a>
              </td>
              <td>{{ centerPersonGroup.name }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/center-person-group', centerPersonGroup.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/center-person-group', centerPersonGroup.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(centerPersonGroup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (centerPersonGroups && centerPersonGroups.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
