<div>
  <h2 id="page-heading" data-cy="CarrierHeading">
    <span jhiTranslate="containerGoServerApp.carrier.home.title">Carriers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="containerGoServerApp.carrier.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-carrier"
        [routerLink]="['/carrier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="containerGoServerApp.carrier.home.createLabel">Thêm mới một Carrier</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (carriers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="containerGoServerApp.carrier.home.notFound">No Carriers found</span>
    </div>
  }

  @if (carriers && carriers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taxCode">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.taxCode">Tax Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankAccount">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.bankAccount">Bank Account</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankName">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.bankName">Bank Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountName">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.accountName">Account Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branchName">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.branchName">Branch Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companySize">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.companySize">Company Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isApproved">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.carrier.isApproved">Is Approved</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (carrier of carriers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/carrier', carrier.id, 'view']">{{ carrier.id }}</a>
              </td>
              <td>{{ carrier.code }}</td>
              <td>{{ carrier.name }}</td>
              <td>{{ carrier.address }}</td>
              <td>{{ carrier.taxCode }}</td>
              <td>{{ carrier.bankAccount }}</td>
              <td>{{ carrier.bankName }}</td>
              <td>{{ carrier.accountName }}</td>
              <td>{{ carrier.branchName }}</td>
              <td>{{ carrier.companySize }}</td>
              <td>{{ carrier.isApproved }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/carrier', carrier.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/carrier', carrier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(carrier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (carriers && carriers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
