<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (shipper) {
      <div>
        <h2 data-cy="shipperDetailsHeading"><span jhiTranslate="containerGoServerApp.shipper.detail.title">Shipper</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="containerGoServerApp.shipper.id">Id</span></dt>
          <dd>
            <span>{{ shipper.id }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.code">Code</span></dt>
          <dd>
            <span>{{ shipper.code }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.name">Name</span></dt>
          <dd>
            <span>{{ shipper.name }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.address">Address</span></dt>
          <dd>
            <span>{{ shipper.address }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.taxCode">Tax Code</span></dt>
          <dd>
            <span>{{ shipper.taxCode }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.companySize">Company Size</span></dt>
          <dd>
            <span>{{ shipper.companySize }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.paymentType">Payment Type</span></dt>
          <dd>
            <span>{{ shipper.paymentType }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.isApproved">Is Approved</span></dt>
          <dd>
            <span>{{ shipper.isApproved }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.isBillingInformationComplete">Is Billing Information Complete</span></dt>
          <dd>
            <span>{{ shipper.isBillingInformationComplete }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.shipper.isProfileComplete">Is Profile Complete</span></dt>
          <dd>
            <span>{{ shipper.isProfileComplete }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/shipper', shipper.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
