<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-container-heading"
        data-cy="ContainerCreateUpdateHeading"
        jhiTranslate="containerGoServerApp.container.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Container
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="containerGoServerApp.container.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contNo" jhiTranslate="containerGoServerApp.container.contNo">Cont No</label>
          <input type="text" class="form-control" name="contNo" id="field_contNo" data-cy="contNo" formControlName="contNo" />
          @if (editForm.get('contNo')!.invalid && (editForm.get('contNo')!.dirty || editForm.get('contNo')!.touched)) {
            <div>
              @if (editForm.get('contNo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estimatedPrice" jhiTranslate="containerGoServerApp.container.estimatedPrice"
            >Estimated Price</label
          >
          <input
            type="number"
            class="form-control"
            name="estimatedPrice"
            id="field_estimatedPrice"
            data-cy="estimatedPrice"
            formControlName="estimatedPrice"
          />
          @if (
            editForm.get('estimatedPrice')!.invalid && (editForm.get('estimatedPrice')!.dirty || editForm.get('estimatedPrice')!.touched)
          ) {
            <div>
              @if (editForm.get('estimatedPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('estimatedPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_distance" jhiTranslate="containerGoServerApp.container.distance">Distance</label>
          <input type="number" class="form-control" name="distance" id="field_distance" data-cy="distance" formControlName="distance" />
          @if (editForm.get('distance')!.invalid && (editForm.get('distance')!.dirty || editForm.get('distance')!.touched)) {
            <div>
              @if (editForm.get('distance')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('distance')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_desiredPrice" jhiTranslate="containerGoServerApp.container.desiredPrice"
            >Desired Price</label
          >
          <input
            type="number"
            class="form-control"
            name="desiredPrice"
            id="field_desiredPrice"
            data-cy="desiredPrice"
            formControlName="desiredPrice"
          />
          @if (editForm.get('desiredPrice')!.invalid && (editForm.get('desiredPrice')!.dirty || editForm.get('desiredPrice')!.touched)) {
            <div>
              @if (editForm.get('desiredPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('desiredPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_additionalRequirements" jhiTranslate="containerGoServerApp.container.additionalRequirements"
            >Additional Requirements</label
          >
          <input
            type="text"
            class="form-control"
            name="additionalRequirements"
            id="field_additionalRequirements"
            data-cy="additionalRequirements"
            formControlName="additionalRequirements"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupContact" jhiTranslate="containerGoServerApp.container.pickupContact"
            >Pickup Contact</label
          >
          <input
            type="text"
            class="form-control"
            name="pickupContact"
            id="field_pickupContact"
            data-cy="pickupContact"
            formControlName="pickupContact"
          />
          @if (editForm.get('pickupContact')!.invalid && (editForm.get('pickupContact')!.dirty || editForm.get('pickupContact')!.touched)) {
            <div>
              @if (editForm.get('pickupContact')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupContactPhone" jhiTranslate="containerGoServerApp.container.pickupContactPhone"
            >Pickup Contact Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="pickupContactPhone"
            id="field_pickupContactPhone"
            data-cy="pickupContactPhone"
            formControlName="pickupContactPhone"
          />
          @if (
            editForm.get('pickupContactPhone')!.invalid &&
            (editForm.get('pickupContactPhone')!.dirty || editForm.get('pickupContactPhone')!.touched)
          ) {
            <div>
              @if (editForm.get('pickupContactPhone')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupAddress" jhiTranslate="containerGoServerApp.container.pickupAddress"
            >Pickup Address</label
          >
          <input
            type="text"
            class="form-control"
            name="pickupAddress"
            id="field_pickupAddress"
            data-cy="pickupAddress"
            formControlName="pickupAddress"
          />
          @if (editForm.get('pickupAddress')!.invalid && (editForm.get('pickupAddress')!.dirty || editForm.get('pickupAddress')!.touched)) {
            <div>
              @if (editForm.get('pickupAddress')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupLat" jhiTranslate="containerGoServerApp.container.pickupLat">Pickup Lat</label>
          <input type="number" class="form-control" name="pickupLat" id="field_pickupLat" data-cy="pickupLat" formControlName="pickupLat" />
          @if (editForm.get('pickupLat')!.invalid && (editForm.get('pickupLat')!.dirty || editForm.get('pickupLat')!.touched)) {
            <div>
              @if (editForm.get('pickupLat')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pickupLat')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupLng" jhiTranslate="containerGoServerApp.container.pickupLng">Pickup Lng</label>
          <input type="number" class="form-control" name="pickupLng" id="field_pickupLng" data-cy="pickupLng" formControlName="pickupLng" />
          @if (editForm.get('pickupLng')!.invalid && (editForm.get('pickupLng')!.dirty || editForm.get('pickupLng')!.touched)) {
            <div>
              @if (editForm.get('pickupLng')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pickupLng')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupFromDate" jhiTranslate="containerGoServerApp.container.pickupFromDate"
            >Pickup From Date</label
          >
          <div class="d-flex">
            <input
              id="field_pickupFromDate"
              data-cy="pickupFromDate"
              type="datetime-local"
              class="form-control"
              name="pickupFromDate"
              formControlName="pickupFromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('pickupFromDate')!.invalid && (editForm.get('pickupFromDate')!.dirty || editForm.get('pickupFromDate')!.touched)
          ) {
            <div>
              @if (editForm.get('pickupFromDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pickupFromDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Trường này phải là định dạng thời gian.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffContact" jhiTranslate="containerGoServerApp.container.dropoffContact"
            >Dropoff Contact</label
          >
          <input
            type="text"
            class="form-control"
            name="dropoffContact"
            id="field_dropoffContact"
            data-cy="dropoffContact"
            formControlName="dropoffContact"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffContactPhone" jhiTranslate="containerGoServerApp.container.dropoffContactPhone"
            >Dropoff Contact Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="dropoffContactPhone"
            id="field_dropoffContactPhone"
            data-cy="dropoffContactPhone"
            formControlName="dropoffContactPhone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffAddress" jhiTranslate="containerGoServerApp.container.dropoffAddress"
            >Dropoff Address</label
          >
          <input
            type="text"
            class="form-control"
            name="dropoffAddress"
            id="field_dropoffAddress"
            data-cy="dropoffAddress"
            formControlName="dropoffAddress"
          />
          @if (
            editForm.get('dropoffAddress')!.invalid && (editForm.get('dropoffAddress')!.dirty || editForm.get('dropoffAddress')!.touched)
          ) {
            <div>
              @if (editForm.get('dropoffAddress')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffLat" jhiTranslate="containerGoServerApp.container.dropoffLat">Dropoff Lat</label>
          <input
            type="number"
            class="form-control"
            name="dropoffLat"
            id="field_dropoffLat"
            data-cy="dropoffLat"
            formControlName="dropoffLat"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffLng" jhiTranslate="containerGoServerApp.container.dropoffLng">Dropoff Lng</label>
          <input
            type="number"
            class="form-control"
            name="dropoffLng"
            id="field_dropoffLng"
            data-cy="dropoffLng"
            formControlName="dropoffLng"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_points" jhiTranslate="containerGoServerApp.container.points">Points</label>
          <input type="text" class="form-control" name="points" id="field_points" data-cy="points" formControlName="points" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dropoffUntilDate" jhiTranslate="containerGoServerApp.container.dropoffUntilDate"
            >Dropoff Until Date</label
          >
          <div class="d-flex">
            <input
              id="field_dropoffUntilDate"
              data-cy="dropoffUntilDate"
              type="datetime-local"
              class="form-control"
              name="dropoffUntilDate"
              formControlName="dropoffUntilDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_state" jhiTranslate="containerGoServerApp.container.state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'containerGoServerApp.ContainerState.null' | translate }}</option>
            @for (containerState of containerStateValues; track $index) {
              <option [value]="containerState">{{ 'containerGoServerApp.ContainerState.' + containerState | translate }}</option>
            }
          </select>
          @if (editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)) {
            <div>
              @if (editForm.get('state')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shipperId" jhiTranslate="containerGoServerApp.container.shipperId">Shipper Id</label>
          <input type="text" class="form-control" name="shipperId" id="field_shipperId" data-cy="shipperId" formControlName="shipperId" />
          @if (editForm.get('shipperId')!.invalid && (editForm.get('shipperId')!.dirty || editForm.get('shipperId')!.touched)) {
            <div>
              @if (editForm.get('shipperId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_carrierId" jhiTranslate="containerGoServerApp.container.carrierId">Carrier Id</label>
          <input type="text" class="form-control" name="carrierId" id="field_carrierId" data-cy="carrierId" formControlName="carrierId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalWeight" jhiTranslate="containerGoServerApp.container.totalWeight">Total Weight</label>
          <input
            type="number"
            class="form-control"
            name="totalWeight"
            id="field_totalWeight"
            data-cy="totalWeight"
            formControlName="totalWeight"
          />
          @if (editForm.get('totalWeight')!.invalid && (editForm.get('totalWeight')!.dirty || editForm.get('totalWeight')!.touched)) {
            <div>
              @if (editForm.get('totalWeight')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalWeight')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_biddingFromDate" jhiTranslate="containerGoServerApp.container.biddingFromDate"
            >Bidding From Date</label
          >
          <div class="d-flex">
            <input
              id="field_biddingFromDate"
              data-cy="biddingFromDate"
              type="datetime-local"
              class="form-control"
              name="biddingFromDate"
              formControlName="biddingFromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_biddingUntilDate" jhiTranslate="containerGoServerApp.container.biddingUntilDate"
            >Bidding Until Date</label
          >
          <div class="d-flex">
            <input
              id="field_biddingUntilDate"
              data-cy="biddingUntilDate"
              type="datetime-local"
              class="form-control"
              name="biddingUntilDate"
              formControlName="biddingUntilDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pickupProvice" jhiTranslate="containerGoServerApp.container.pickupProvice"
            >Pickup Provice</label
          >
          <select
            class="form-control"
            id="field_pickupProvice"
            data-cy="pickupProvice"
            name="pickupProvice"
            formControlName="pickupProvice"
            [compareWith]="compareProvice"
          >
            @if (!editForm.get('pickupProvice')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (proviceOption of provicesSharedCollection; track $index) {
              <option [ngValue]="proviceOption">{{ proviceOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['pickupProvice'])!.invalid && (editForm.get(['pickupProvice'])!.dirty || editForm.get(['pickupProvice'])!.touched)
        ) {
          <div>
            @if (editForm.get(['pickupProvice'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_pickupDistrict" jhiTranslate="containerGoServerApp.container.pickupDistrict"
            >Pickup District</label
          >
          <select
            class="form-control"
            id="field_pickupDistrict"
            data-cy="pickupDistrict"
            name="pickupDistrict"
            formControlName="pickupDistrict"
            [compareWith]="compareDistrict"
          >
            @if (!editForm.get('pickupDistrict')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (districtOption of districtsSharedCollection; track $index) {
              <option [ngValue]="districtOption">{{ districtOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['pickupDistrict'])!.invalid &&
          (editForm.get(['pickupDistrict'])!.dirty || editForm.get(['pickupDistrict'])!.touched)
        ) {
          <div>
            @if (editForm.get(['pickupDistrict'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_pickupWard" jhiTranslate="containerGoServerApp.container.pickupWard">Pickup Ward</label>
          <select
            class="form-control"
            id="field_pickupWard"
            data-cy="pickupWard"
            name="pickupWard"
            formControlName="pickupWard"
            [compareWith]="compareWard"
          >
            @if (!editForm.get('pickupWard')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (wardOption of wardsSharedCollection; track $index) {
              <option [ngValue]="wardOption">{{ wardOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['pickupWard'])!.invalid && (editForm.get(['pickupWard'])!.dirty || editForm.get(['pickupWard'])!.touched)) {
          <div>
            @if (editForm.get(['pickupWard'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dropoffProvice" jhiTranslate="containerGoServerApp.container.dropoffProvice"
            >Dropoff Provice</label
          >
          <select
            class="form-control"
            id="field_dropoffProvice"
            data-cy="dropoffProvice"
            name="dropoffProvice"
            formControlName="dropoffProvice"
            [compareWith]="compareProvice"
          >
            @if (!editForm.get('dropoffProvice')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (proviceOption of provicesSharedCollection; track $index) {
              <option [ngValue]="proviceOption">{{ proviceOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['dropoffProvice'])!.invalid &&
          (editForm.get(['dropoffProvice'])!.dirty || editForm.get(['dropoffProvice'])!.touched)
        ) {
          <div>
            @if (editForm.get(['dropoffProvice'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dropoffDistrict" jhiTranslate="containerGoServerApp.container.dropoffDistrict"
            >Dropoff District</label
          >
          <select
            class="form-control"
            id="field_dropoffDistrict"
            data-cy="dropoffDistrict"
            name="dropoffDistrict"
            formControlName="dropoffDistrict"
            [compareWith]="compareDistrict"
          >
            @if (!editForm.get('dropoffDistrict')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (districtOption of districtsSharedCollection; track $index) {
              <option [ngValue]="districtOption">{{ districtOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['dropoffDistrict'])!.invalid &&
          (editForm.get(['dropoffDistrict'])!.dirty || editForm.get(['dropoffDistrict'])!.touched)
        ) {
          <div>
            @if (editForm.get(['dropoffDistrict'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dropoffWard" jhiTranslate="containerGoServerApp.container.dropoffWard">Dropoff Ward</label>
          <select
            class="form-control"
            id="field_dropoffWard"
            data-cy="dropoffWard"
            name="dropoffWard"
            formControlName="dropoffWard"
            [compareWith]="compareWard"
          >
            <option [ngValue]="null"></option>
            @for (wardOption of wardsSharedCollection; track $index) {
              <option [ngValue]="wardOption">{{ wardOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="containerGoServerApp.container.type">Type</label>
          <select
            class="form-control"
            id="field_type"
            data-cy="type"
            name="type"
            formControlName="type"
            [compareWith]="compareContainerType"
          >
            @if (!editForm.get('type')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (containerTypeOption of containerTypesSharedCollection; track $index) {
              <option [ngValue]="containerTypeOption">{{ containerTypeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['type'])!.invalid && (editForm.get(['type'])!.dirty || editForm.get(['type'])!.touched)) {
          <div>
            @if (editForm.get(['type'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="containerGoServerApp.container.status">Status</label>
          <select
            class="form-control"
            id="field_status"
            data-cy="status"
            name="status"
            formControlName="status"
            [compareWith]="compareContainerStatus"
          >
            @if (!editForm.get('status')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (containerStatusOption of containerStatusesSharedCollection; track $index) {
              <option [ngValue]="containerStatusOption">{{ containerStatusOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['status'])!.invalid && (editForm.get(['status'])!.dirty || editForm.get(['status'])!.touched)) {
          <div>
            @if (editForm.get(['status'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_truckType" jhiTranslate="containerGoServerApp.container.truckType">Truck Type</label>
          <select
            class="form-control"
            id="field_truckType"
            data-cy="truckType"
            name="truckType"
            formControlName="truckType"
            [compareWith]="compareTruckType"
          >
            <option [ngValue]="null"></option>
            @for (truckTypeOption of truckTypesSharedCollection; track $index) {
              <option [ngValue]="truckTypeOption">{{ truckTypeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_truck" jhiTranslate="containerGoServerApp.container.truck">Truck</label>
          <select class="form-control" id="field_truck" data-cy="truck" name="truck" formControlName="truck" [compareWith]="compareTruck">
            <option [ngValue]="null"></option>
            @for (truckOption of trucksSharedCollection; track $index) {
              <option [ngValue]="truckOption">{{ truckOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_owner" jhiTranslate="containerGoServerApp.container.owner">Owner</label>
          <select
            class="form-control"
            id="field_owner"
            data-cy="owner"
            name="owner"
            formControlName="owner"
            [compareWith]="compareContainerOwner"
          >
            <option [ngValue]="null"></option>
            @for (containerOwnerOption of containerOwnersSharedCollection; track $index) {
              <option [ngValue]="containerOwnerOption">{{ containerOwnerOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
