<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (containerStatus) {
      <div>
        <h2 data-cy="containerStatusDetailsHeading">
          <span jhiTranslate="containerGoServerApp.containerStatus.detail.title">Container Status</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="containerGoServerApp.containerStatus.id">Id</span></dt>
          <dd>
            <span>{{ containerStatus.id }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerStatus.code">Code</span></dt>
          <dd>
            <span>{{ containerStatus.code }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerStatus.name">Name</span></dt>
          <dd>
            <span>{{ containerStatus.name }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerStatus.description">Description</span></dt>
          <dd>
            <span>{{ containerStatus.description }}</span>
          </dd>
          <dt><span jhiTranslate="containerGoServerApp.containerStatus.group">Group</span></dt>
          <dd>
            @if (containerStatus.group) {
              <div>
                <a [routerLink]="['/container-status-group', containerStatus.group.id, 'view']">{{ containerStatus.group.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/container-status', containerStatus.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
