<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-shipper-account-heading"
        data-cy="ShipperAccountCreateUpdateHeading"
        jhiTranslate="containerGoServerApp.shipperAccount.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Shipper Account
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="containerGoServerApp.shipperAccount.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_balance" jhiTranslate="containerGoServerApp.shipperAccount.balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
          @if (editForm.get('balance')!.invalid && (editForm.get('balance')!.dirty || editForm.get('balance')!.touched)) {
            <div>
              @if (editForm.get('balance')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('balance')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accountType" jhiTranslate="containerGoServerApp.shipperAccount.accountType"
            >Account Type</label
          >
          <select class="form-control" name="accountType" formControlName="accountType" id="field_accountType" data-cy="accountType">
            <option [ngValue]="null">{{ 'containerGoServerApp.ShipperAccountType.null' | translate }}</option>
            @for (shipperAccountType of shipperAccountTypeValues; track $index) {
              <option [value]="shipperAccountType">
                {{ 'containerGoServerApp.ShipperAccountType.' + shipperAccountType | translate }}
              </option>
            }
          </select>
          @if (editForm.get('accountType')!.invalid && (editForm.get('accountType')!.dirty || editForm.get('accountType')!.touched)) {
            <div>
              @if (editForm.get('accountType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shipper" jhiTranslate="containerGoServerApp.shipperAccount.shipper">Shipper</label>
          <select
            class="form-control"
            id="field_shipper"
            data-cy="shipper"
            name="shipper"
            formControlName="shipper"
            [compareWith]="compareShipper"
          >
            @if (!editForm.get('shipper')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (shipperOption of shippersSharedCollection; track $index) {
              <option [ngValue]="shipperOption">{{ shipperOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['shipper'])!.invalid && (editForm.get(['shipper'])!.dirty || editForm.get(['shipper'])!.touched)) {
          <div>
            @if (editForm.get(['shipper'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
