<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-shipper-heading" data-cy="ShipperCreateUpdateHeading" jhiTranslate="containerGoServerApp.shipper.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Shipper
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="containerGoServerApp.shipper.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          @if (editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)) {
            <div>
              @if (editForm.get('address')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.taxCode" for="field_taxCode">Tax Code</label>
          <input type="text" class="form-control" name="taxCode" id="field_taxCode" data-cy="taxCode" formControlName="taxCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.companySize" for="field_companySize">Company Size</label>
          <input
            type="number"
            class="form-control"
            name="companySize"
            id="field_companySize"
            data-cy="companySize"
            formControlName="companySize"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.paymentType" for="field_paymentType">Payment Type</label>
          <input
            type="text"
            class="form-control"
            name="paymentType"
            id="field_paymentType"
            data-cy="paymentType"
            formControlName="paymentType"
          />
          @if (editForm.get('paymentType')!.invalid && (editForm.get('paymentType')!.dirty || editForm.get('paymentType')!.touched)) {
            <div>
              @if (editForm.get('paymentType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.isApproved" for="field_isApproved">Is Approved</label>
          <input
            type="checkbox"
            class="form-check"
            name="isApproved"
            id="field_isApproved"
            data-cy="isApproved"
            formControlName="isApproved"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="containerGoServerApp.shipper.isBillingInformationComplete"
            for="field_isBillingInformationComplete"
            >Is Billing Information Complete</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isBillingInformationComplete"
            id="field_isBillingInformationComplete"
            data-cy="isBillingInformationComplete"
            formControlName="isBillingInformationComplete"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.shipper.isProfileComplete" for="field_isProfileComplete"
            >Is Profile Complete</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isProfileComplete"
            id="field_isProfileComplete"
            data-cy="isProfileComplete"
            formControlName="isProfileComplete"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
