<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-truck-heading" data-cy="TruckCreateUpdateHeading" jhiTranslate="containerGoServerApp.truck.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Truck
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="containerGoServerApp.truck.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.manufacturer" for="field_manufacturer">Manufacturer</label>
          <input
            type="text"
            class="form-control"
            name="manufacturer"
            id="field_manufacturer"
            data-cy="manufacturer"
            formControlName="manufacturer"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.capacity" for="field_capacity">Capacity</label>
          <input type="number" class="form-control" name="capacity" id="field_capacity" data-cy="capacity" formControlName="capacity" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'containerGoServerApp.TruckStatus.null' | translate }}</option>
            @for (truckStatus of truckStatusValues; track $index) {
              <option [value]="truckStatus">{{ 'containerGoServerApp.TruckStatus.' + truckStatus | translate }}</option>
            }
          </select>
          @if (editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.mileage" for="field_mileage">Mileage</label>
          <input type="number" class="form-control" name="mileage" id="field_mileage" data-cy="mileage" formControlName="mileage" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.numberPlate" for="field_numberPlate">Number Plate</label>
          <input
            type="text"
            class="form-control"
            name="numberPlate"
            id="field_numberPlate"
            data-cy="numberPlate"
            formControlName="numberPlate"
          />
          @if (editForm.get('numberPlate')!.invalid && (editForm.get('numberPlate')!.dirty || editForm.get('numberPlate')!.touched)) {
            <div>
              @if (editForm.get('numberPlate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.lat" for="field_lat">Lat</label>
          <input type="number" class="form-control" name="lat" id="field_lat" data-cy="lat" formControlName="lat" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.lng" for="field_lng">Lng</label>
          <input type="number" class="form-control" name="lng" id="field_lng" data-cy="lng" formControlName="lng" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.type" for="field_type">Type</label>
          <select class="form-control" id="field_type" data-cy="type" name="type" formControlName="type" [compareWith]="compareTruckType">
            @if (!editForm.get('type')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (truckTypeOption of truckTypesSharedCollection; track $index) {
              <option [ngValue]="truckTypeOption">{{ truckTypeOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['type'])!.invalid && (editForm.get(['type'])!.dirty || editForm.get(['type'])!.touched)) {
          <div>
            @if (editForm.get(['type'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="containerGoServerApp.truck.carrier" for="field_carrier">Carrier</label>
          <select
            class="form-control"
            id="field_carrier"
            data-cy="carrier"
            name="carrier"
            formControlName="carrier"
            [compareWith]="compareCarrier"
          >
            <option [ngValue]="null"></option>
            @for (carrierOption of carriersSharedCollection; track $index) {
              <option [ngValue]="carrierOption">{{ carrierOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
