<div>
  <h2 id="page-heading" data-cy="ShipmentHistoryHeading">
    <span jhiTranslate="containerGoServerApp.shipmentHistory.home.title">Shipment Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="containerGoServerApp.shipmentHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-shipment-history"
        [routerLink]="['/shipment-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="containerGoServerApp.shipmentHistory.home.createLabel">Thêm mới một Shipment History</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (shipmentHistories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="containerGoServerApp.shipmentHistory.home.notFound">No Shipment Histories found</span>
    </div>
  }

  @if (shipmentHistories && shipmentHistories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="event">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.event">Event</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timestamp">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.timestamp">Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="executedBy">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.executedBy">Executed By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lat">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.lat">Lat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lng">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.lng">Lng</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="container.id">
              <div class="d-flex">
                <span jhiTranslate="containerGoServerApp.shipmentHistory.container">Container</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (shipmentHistory of shipmentHistories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/shipment-history', shipmentHistory.id, 'view']">{{ shipmentHistory.id }}</a>
              </td>
              <td>{{ shipmentHistory.event }}</td>
              <td>{{ shipmentHistory.timestamp | formatMediumDatetime }}</td>
              <td>{{ shipmentHistory.executedBy }}</td>
              <td>{{ shipmentHistory.location }}</td>
              <td>{{ shipmentHistory.lat }}</td>
              <td>{{ shipmentHistory.lng }}</td>
              <td>
                @if (shipmentHistory.container) {
                  <div>
                    <a [routerLink]="['/container', shipmentHistory.container.id, 'view']">{{ shipmentHistory.container.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/shipment-history', shipmentHistory.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/shipment-history', shipmentHistory.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(shipmentHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (shipmentHistories && shipmentHistories.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
